.header {
  display: flex;
  align-items:center;
  height: 45px;
  width: 100%;
  justify-content: space-between;
  position: fixed;
  padding-left: 20px;
  padding-right: 20px;
  z-index: 100;
  background-size: 4px 4px;
  -webkit-backdrop-filter: saturate(50%) blur(4px);
  backdrop-filter: saturate(50%) blur(4px);
  background-image: radial-gradient(transparent 1px,var(--background) 1px);
  border-bottom: 1px solid var(--nextui-colors-gray50);
}

.fill {
  fill: var(--nextui-colors-gray900);
}

.title {
  background: linear-gradient(112deg, var(--nextui-colors-cyan600) -63.59%, var(--nextui-colors-pink600) -20.3%, var(--nextui-colors-blue600) 70.46%);;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: bold;
  background-size: 400% 400%;
  animation: gradient 12s ease infinite;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }                                                                                                       
                                                                                                          
  50% {                                                                                                   
    background-position: 100% 50%;                                                                        
  }                                                                                                       
                                                                                                          
  100% {
    background-position: 0% 50%;
  }
}
